apiVersion: v1
kind: Namespace
metadata:
  name: {{ name }}
  labels:
    {{ managed_label_key }}: "{{ managed_label_value }}"
{% if extra_labels %}
{% for k, v in extra_labels.items() %}
    {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
{% if extra_annotations %}
  annotations:
{% for k, v in extra_annotations.items() %}
    {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
